:root {
   /*  --main-bg-color: #172d25;
    --main-text-color: #009d63;
    --second-text-color: #bbbec5;
    --second-bg-color: #c1efde; */
  }


  
  .primary-text {
    color: var(--main-text-color);
  }
  
  .second-text {
    color: var(--second-text-color);
  }
  
  .primary-bg {
    background-color: var(--main-bg-color);
  }
  
  .secondary-bg {
    background-color: var(--second-bg-color);
  }
  
  .rounded-full {
    border-radius: 100%;
  }

 
  
  #wrapper {
    overflow-x: hidden;
    /* background-image: linear-gradient(
      to right,
      #baf3d7,
      #c2f5de,
      #cbf7e4,
      #d4f8ea,
      #ddfaef
    ); */

    
  }

  #page-content-wrapper {
    background-color: rgb(247, 255, 242);
  }

  /* .active {
    background-color: red;
  } */


  
  .sidebar_wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
    background-color: rgb(26, 69, 28);
    color: white;
  }
  

  .side{
    margin-left: 0;
  }



  .sidebar_wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  .sidebar_wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
    
  }
  
  #wrapper.toggled .sidebar_wrapper {
    margin-left: 0;
  }
  
  #menu-toggle {
    cursor: pointer;
  }
  
  .list-group-item {
    border: none;
    padding: 20px 30px;
  }
  
  .list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
  }

  a {
    text-decoration: none;
    color: white;
  }


  #toggle_icon {
    display: none;
  }


 

  @media (max-width: 768px) {
   #toggle_icon {
      display: inline;
    }
  }


  
  @media (min-width: 768px) {
    .sidebar_wrapper {
      margin-left: 0;
    }

    /* #toggle_sidebar {
      display: inline;
    } */
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled .sidebar_wrapper {
      margin-left: -15rem;
    }
  }



  
  